@import '../../../variables';

.post-form__sidebar {
    display: flex;
    flex-direction: column;
    width: 266px;

    .sidebar__decoration {
        max-width: 21px;
        margin-bottom: 0.3rem;
    }

    .sidebar__btn {
        font-size: 1.5rem;
        padding: 0.5rem 0 0;
        text-align: start;
        text-decoration: none;
        border: none;
        background-color: transparent;
        color: var(--text-secondary);
        transition: 0.5s;
        cursor: pointer;

        &:hover {
            color: var(--text-primary);
        }

        &_active {
            color: var(--text-primary);
            padding: 0.5rem 0 0;
            text-align: start;
            border: none;
            font-size: 1.5rem;
            background-color: transparent;
        }
    }
}
