@import '../../Game.module';

.review {
    @include flex-column;
    gap: 35px;
    padding: 100px 0 100px 0;

    &__title {
        font-size: 68px;
        font-weight: 500;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(min-content);
        gap: 40px;
    }
}

.review-card {
    padding: 30px;
    background-color: var(--background-detailed);
    border-radius: 42px;
    height: min-content;
    @include flex-column;
    gap: 13px;

    &__avatar {
        display: flex;
        border-radius: 25px;
        align-items: center;
        gap: 10px;
        background-color: var(--background-secondary);
    }

    &__author {
        font-size: 20px;
        padding-right: 22px;
    }

    &__count {
        font-size: 24px;
        font-weight: 500;
    }

    &__stars {
        padding: 7px 20px;
        display: flex;
        border-radius: 25px;
        align-items: center;
        background-color: var(--background-secondary);
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }
}
