@import '../../variables';

.auth__wrapper {
    padding: 0 15px;
    padding-top: 100px;
    padding-bottom: 108px;
}

.auth__form {
    box-sizing: border-box;
    text-align: center;
    background-color: var(--background-detailed);
    max-width: 840px;
    margin: 40px auto;
    border-radius: 20px;
    padding: clamp(30px, 8vw, 100px) clamp(20px, 8vw, 110px) 40px;

    .input__fields-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        margin-bottom: 40px;

        .form-input-block {
            width: 100%;
        }
    }
}
.error-text {
    margin-left: 10px;
    text-align: start;
    color: red;
    margin-top: 10px;
}
.auth__btns {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    @include adaptiv-font(24, 13);
}

.auth__btn {
    background-color: var(--primary-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    border: 2px solid var(--primary-color);
    border-radius: 25px;
    padding: 5px 7px 5px 20px;
    height: 50px;
    cursor: pointer;

    &:hover {
        .btn__circle {
            background-color: $white-100;

            path {
                fill: var(--primary-color);
            }
        }
    }
}

.btn__circle {
    background-color: var(--primary-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    margin-left: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.break-line {
    margin-top: 40px;
    width: calc(1.2 * clamp(20px, 8vw, 110px) + 100%);
    margin-left: calc(clamp(20px, 8vw, 110px) * -0.6);
    border-top: 1px solid #bbbbbb;
}
.other {
    margin-top: clamp(20px, 4vw, 40px);
    @include adaptiv-font(24, 13);
    &__auth-btns {
        margin-top: clamp(20px, 4vw, 40px);
        text-align: left;
        display: flex;
        justify-content: center;
    }

    &__auth-btn {
        width: clamp(30px, 11.5%, 70px);
        aspect-ratio: 1;
    }
}

.auth_title {
    text-align: center;
    background-image: linear-gradient(
        90.35deg,
        #ad7eff 0%,
        #c29fff 25.72%,
        #ff9af1 47.25%,
        #e58ea7 74.18%,
        #ff5731 100.8%
    );
    color: transparent;
    background-clip: text;
    margin: 0 auto;
}

img.aside-settings__icon {
    margin-left: 0;
}

.link__registr {
    text-align: center;
    margin: 40px 0 0;

    h2 {
        font-size: 32px;
    }

    p {
        margin-top: 10px;
        color: var(--text-primary);
        font-size: 24px;
        text-decoration: none;
    }
}
