@import '@/variables.scss';

.ads-slider {
    display: grid !important;
    grid-template-columns: 1fr 352px;
    gap: 24px;
}

.ads-slider__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    gap: 4%;
}

@media screen and (max-width: 576px) {
    .ads-slider {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .ads-slider__list {
        gap: 30px;
    }
}
