@import '@/variables.scss';
.preview {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 76px 120px;
    max-height: 546px;
    border-radius: 40px;
    background: var(--background-secondary);
}

.preview__left-side {
    display: flex;
    flex-direction: column;
    min-width: 220px;
    justify-content: space-around;
}

.preview__logo {
    max-width: 312px;
}

.preview__text {
    max-width: 440px;
    font-size: 38px;
}

.preview__photo {
    object-fit: contain;
    width: 50%;
    font-size: 38px;
}
