.profile__wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 clamp(15px, 5vw, 64px);
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position-y: 200px;
  @media (min-width: 1150px) {
    padding: 50px;
  }
}

.loading {
  width: 100%;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  color: #333;
  font-weight: 500;
}