@import '@/variables.scss';
.for-developers {
    max-width: 1011px;
    margin-inline: auto;
    margin-top: 60px;
    margin-bottom: 75px;
    @media (min-width: 800px) {
        padding-inline: 50px;
        margin-top: 100px;
        margin-bottom: 200px;
    }
    &__title {
        @include adaptiv-font(100, 24);
        font-style: normal;
        font-weight: 500;
        background: linear-gradient(
            45deg,
            #ad7eff,
            #c29fff,
            #ff5731,
            #ff9af1,
            #ad7eff
        );
        animation: gradient 15s ease infinite;
        background-size: 200% 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (min-width: 800px) {
            text-align: center;
        }
    }
    &__text {
        @include adaptiv-font(38, 16);
        margin-top: 20px;
        @media (min-width: 800px) {
            margin-top: 40px;
            text-align: center;
        }
    }
}
