@import '@/variables.scss';

.catalog {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    align-items: center;
    gap: 40px;
}

@media screen and (min-width: 768px) {
    .catalog {
        gap: 100px;
    }
}
