@import '@/variables.scss';

.carousel {
    margin-top: 20px;
    flex-grow: 1;
}

.carousel__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.carousel__ganre {
    border-left: 8px solid var(--primary-color);
    padding-left: 10px;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
}

.carousel__details {
    display: flex;
    align-items: center;
    gap: 16px;
}

.carousel__all {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    padding: 0;
    margin: 0;
    color: var(--accent-color);
    @include adaptiv-font(38, 12);
}

.carousel__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--background-extra);
    padding: 12px 20px;
    // width: 148px;
}

.carousel__button {
    cursor: pointer;
    display: flex;
    background: none;
    border: none;
    padding: 0;
    &:hover {
        opacity: 0.85;
        &:disabled {
            opacity: 0.6;
        }
    }
    &--circle {
        width: 12px;
        height: 12px;
        background-color: var(--background-extra);
        border-radius: 12px;
    }
    &--active {
        cursor: default;
        width: 28px;
        height: 12px;
        background-color: var(--accent-color);
        border-radius: 12px;
        transition: all 1s;
    }
    &:disabled {
        cursor: no-drop;
    }
}

.carousel__dots {
    display: flex;
    gap: 4px;
}

.carousel__image {
    clip-path: inset(0 round 25%);
    width: 68px;
    height: 68px;
    transition: all 1s ease;
    object-fit: cover;
}

.carousel__list {
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    height: 250px;
    overflow: hidden;

    .carousel__item {
        cursor: pointer;
        position: absolute;
        transition:
            transform 0.8s ease,
            left 0.8s,
            opacity 0.9s ease,
            z-index 0s ease;
        &--hideLeft {
            z-index: 3;
            left: 0;
            opacity: 1;
            .carousel__image {
                width: 96px;
                height: 96px;
            }
        }
        &--hideRight {
            z-index: 3;
            left: calc(118px + 76px + 142px + 188px + 170px + 118px);
            opacity: 1;
            .carousel__image {
                width: 96px;
                height: 96px;
            }
        }

        &--prev {
            z-index: 5;
            left: calc(118px + 76px);
            .carousel__image {
                width: 190px;
                height: 190px;
            }
        }

        &--prevLeftSecond {
            z-index: 4;
            left: 76px;
            opacity: 1;
            .carousel__image {
                width: 138px;
                height: 138px;
            }
        }

        &--selected {
            z-index: 6;
            left: calc(118px + 76px + 142px);
            .carousel__image {
                width: 236px;
                height: 236px;
            }
        }

        &--next {
            z-index: 5;
            left: calc(118px + 76px + 142px + 188px);
            .carousel__image {
                width: 190px;
                height: 190px;
            }
        }

        &--nextRightSecond {
            z-index: 4;
            left: calc(118px + 76px + 142px + 188px + 170px);
            opacity: 1;
            .carousel__image {
                width: 138px;
                height: 138px;
            }
        }
    }
}
