@import '@/variables.scss';

.games__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.5s ease;
    padding: 0 30px;
    box-sizing: border-box;
}

.list__head {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.list__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    flex-wrap: wrap;
    list-style: none;
}

.games__header {
    @include adaptiv-font(38,16);
}

.games__show {
    text-decoration: none;
    color: var(--text-secondary);
    @include adaptiv-font(24,14);
    font-weight: 600;
    transition: 0.3s;

    &:hover {
        color: var(--text-primary);
    }
}

@media screen and (min-width: 768px) {
    .list__body {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1150px) {
    .list__body {
        grid-template-columns: repeat(6, 1fr);
    }
}