@import '@/variables.scss';
.switcher-genres {
    cursor: pointer;
    border-radius: 33px;
    gap: 8px;
    border: 1px solid var(--background-extra);
    background: transparent;
    padding: 0 0 0 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 356px;
    &--active {
        transition: all 0.2s ease;
        border: 1px solid var(--primary-color);
        background: rgba(255, 87, 49, 0.08);
    }
    &:hover {
        transition: all 0.2s ease;
        border: 1px solid var(--primary-color);
    }
}

.switcher-genres__text {
    
    line-height: 1;
    font-weight: 400;
    color: var(--text-primary);

    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    &:hover {
        transition: all 0.2s ease;
        opacity: 0.85;
    }
    @include adaptiv-font(24, 16);
}

.switcher-genres__arrow {
    margin: 8px;
    min-width: 50px;
    min-height: 50px;
    &:hover {
        & path {
            transition: all 0.2s ease;
            fill: var(--primary-color);
        }
        & circle {
            transition: all 0.2s ease;
            fill: var(--text-primary);
        }
    }
}
