@import '@/variables.scss';

.card__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
    border-radius: 15px;
    background-color: var(--background-detailed);
    transition: all 0.5s ease;
    max-width: fit-content;
    box-sizing: border-box;
}

.card__cover {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 6px;
    object-fit: cover;
    align-self: center;
}

.card__text {
    display: flex;
    gap: 2px;
    flex-direction: column;
}

.card__title {
    @include adaptiv-font(24,14)
}

.card__desc {
    color: var(--text-secondary);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    @include adaptiv-font(20,12);
    overflow: hidden;
}


.list__card {
    display: none;
    &:nth-child(-n+3) {
        display: block;
    }
}

// .game-card:nth-child(-n+3) {
//     display: block;
// }
  
@media screen and (min-width: 768px) {
    .list__card {
        display: none;
        &:nth-child(-n+4) {
            display: block;
        }
    }
    .card__content {
        gap: 8px;
    }
    .card__text {
        gap: 8px;
    }
}
  
@media screen and (min-width: 1150px) {
    .list__card {
        display: none;
        &:nth-child(-n+6){
            display: block;
        }
    }
}
