.slider-wrap {
    position: relative;
    max-width: 37rem;
    background-color: var(--background-secondary);
    border-radius: 30px;
}

.swiper-pagination {
    top: 95% !important;
    background-color: var(--background-interactive);
    height: 5px !important;
    border-radius: 20px;
    left: 2rem !important;
    right: 2rem;
    max-width: 33rem;
}

.swiper-pagination-progressbar-fill {
    background-color: var(--interactive-element) !important;
    height: 12px !important;
    border-radius: 30px;
    top: -50% !important;
}

.swiper-slide-thumb-active {
    border: 3px solid var(--interactive-element);
}

.swiper {
    position: initial;
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.preview-slider {
    height: 70%;
    width: 100%;

    & .swiper-slide img {
        border-radius: 30px 30px 0 0;
    }
}

.slider {
    height: 30%;
    box-sizing: border-box;
    padding: 30px 33px 60px;

    & .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        border-radius: 32px;
        & img {
            border-radius: 30px;
        }
    }
    & .swiper-slide-thumb-active {
        opacity: 1;
    }
}
