@import '~@/variables.scss';

.ad-band {
    background-color: var(--background-detailed);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: var(--text-primary);
    text-decoration: none;
    padding: 10px;
    max-width: 120px;
    border-radius: 16px;
    transition: all 1.3s ease;
    box-sizing: border-box;
    &__tags {
        display: flex;
        flex: 1;
        color: var(--accent-color);
        font-size: 12px;
        gap: 10px;
    }
}

.ad-band__cover {
    max-height: 100px;
    max-width: 100px;
    object-fit: fill;
    border-radius: 6px;
}

.ad-band__info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
}

.ad-band__title {
    text-decoration: none;
    @include adaptiv-font(24,14);
    display: -webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ad-band__desc {
    @include adaptiv-font(20,12);
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-detailed);
}


@media screen and (min-width: 768px) {
    .ad-band {
        padding: 0;
    }
    .ad-band__info {
        display: none;
    }
}

@media screen and (min-width: 1150px) {
    .ad-band {
        padding: 10px;
        flex-direction: row;
        max-width: 352px;
    }
    .ad-band__info {
        display: block;
    }
}