@import '@/variables.scss';

.header {
    display: flex;
    justify-content: start;
    transition: transform 0.5s ease;
    position: sticky;
    z-index: 10;
    background-color: var(--background-color);
    max-height: 105px;
    &__nav {
        display: none;
        &__link {
            font-size: 24px;
            font-weight: 500;
            color: var(--accent-color);
            text-decoration: none;
        }

        @media (min-width: 1050px) {
            display: flex;
            flex-direction: row;
            gap: 56px;
            &__link {
                font-size: 20px;
            }
        }
    }
}

.logos {
    display: flex;
    align-items: center;
    gap: 20px;
    @media (min-width: 1050px) {
        gap: 30px;
    }
}

.hidden {
    transform: translateY(-100%);
}

.visible {
    transform: translateY(0);
    top: 0;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    margin: 0 auto;
    @media (min-width: 1050px) {
        max-width: 1500px;
        padding: 50px 50px 0;
    }
}

.header__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__link {
    color: var(--text-primary);
}

.header__burger {
    display: block;
    cursor: pointer;
    background-color: var(--background-color);
    &-icon {
        display: block;
    }
    @media (min-width: 1050px) {
        display: none;
    }
}

.header__mobile-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 9;
    animation: header__mobile-menu-slide-down 0.3s ease-out;
    background-color: var(--background-color);
    &-title {
        font-size: 15px;
        font-weight: 500;
        color: var(--text-primary);
    }
    &-link {
        font-size: 38px;
        color: var(--accent-color);
        text-decoration: none;
        padding: 12px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        &:last-child {
            border-bottom: none;
        }
    }

    @media (min-width: 1050px) {
        display: none;
    }
}

@keyframes header__mobile-menu-slide-down {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.header__burger-icon {
    transition: transform 0.3s ease;
    line {
        stroke: #000000;
        stroke-width: 1.88679;
        stroke-linecap: round;
        transition: all 0.3s ease;
    }

    .line1,
    .line2,
    .line3 {
        transform-origin: center;
    }

    &.open {
        .line1 {
            transform: rotate(45deg) translate(0, 5px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(-45deg) translate(0, -5px);
        }
    }
}