@import '@/variables.scss';
.genre {
    margin-top: 145px;
}
.genre__caption {
    display: flex;
    flex-direction: column;
}
.genre__down-caption {
    margin-left: 1.75em;
}

.genre__title {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    @include adaptiv-font(68,20);
    font-weight: 500;
}
.genre__body {
    margin-top: 40px;
    display: flex;
    gap: 10vw;
    @media (max-width: 1439px) {
        flex-direction: column;
        gap: 5vh;
    }
}
