@import '@/variables.scss';

.game {
    display: flex;

    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        width: 100%;
    }
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin grey-card {
    background-color: var(--background-secondary);
    padding: 30px;
    font-size: 24px;
    @include flex-column;
}
