@import '../../Game.module';

.preview {
    @include flex-column;
    max-width: fit-content;

    &__img {
        object-fit: cover;
        width: 100%;
        border-radius: 30px 30px 0 0;
    }

    &__block {
        @include grey-card;
        gap: 20px;
        border-radius: 0 0 30px 30px;
    }

    &__list {
        color: var(--text-detailed);
    }
}

.purple-span {
    color: var(--accent-color);
}
