html[data-theme='dark'] {
    --primary-color: #ff5731;
    --background-color: #0b0b0b;
    --background-secondary: #2f2f2f;
    --background-detailed: #151515;
    --background-extra: #191a1b;
    --background-interactive: #151515;
    --text-primary: #f9f9f9;
    --text-secondary: #ffffff66;
    --text-detailed: #adadac;
    --accent-color: #9960ff;
    --interactive-element: #2f2f2f;
}

html[data-theme='light'] {
    --background-color: #f7f7f5;
    --background-secondary: #efefed;
    --background-detailed: #ffffff;
    --background-extra: #e3e3e1;
    --background-card: #f7f7f5;
    --background-interactive: #cacaca;
    --text-primary: #0b0b0b;
    --text-secondary: #63636366;
    --text-detailed: #adadac;
    --primary-color: #ff5731;
    --accent-color: #9960ff;
    --interactive-element: #666666;
}

$gray-100: #2f2f2f;
$gray-200: #151515;
$gray-300: #191a1b;
$white-100: #f9f9f9;
$white-200: #adadac;
$white-300: #ffffff66;
$shadow-x1: drop-shadow(
        0px 5.222256660461426px 7.692448616027832px rgba(255, 87, 49, 0.03)
    )
    drop-shadow(
        0px 18.45005989074707px 23.422977447509766px rgba(255, 87, 49, 0.05)
    )
    drop-shadow(0px 94px 105px rgba(255, 87, 49, 0.08));
$gradient-l1: linear-gradient(
    90deg,
    #ad7eff 0%,
    #c29fff 25.72%,
    #ff9af1 47.25%,
    #e58ea7 74.18%,
    #ff5731 100.8%
);
$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(
            #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
        );
    }
    @media (min-width: 767px) {
        font-size: calc(
            #{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth})
        );
    }
}
