@import '@/variables.scss';

.section {
    margin-block: 100px;
    padding: 40px;
    background-color: var(--background-detailed);
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.header {
    gap: 20px;
    align-items: center;
    display: flex;

    &__text {
        font-size: 68px;
        line-height: 25px;
        font-weight: 500;
    }
}

.block {
    background-size: cover;
    background-position: center;
    height: 635px;
    border-radius: 24px;
    display: flex;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 24px;
    }

    &__text {
        color: white;
        margin-left: 35px;
        margin-bottom: 35px;
        max-width: 1125px;
        align-self: end;
        font-size: 52px;
        font-weight: 500;
        z-index: 1;
    }
}

.detailed {
    padding: 0 35px;
    display: flex;
    justify-content: space-between;

    &__text {
        font-size: 32px;
        max-width: 1053px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color: var(--text-primary);
    }
}

.slider {
    height: auto;
    & .swiper-slide {
        opacity: 1 !important;
    }
}

.slider {
    height: auto !important;
}

.slider_gradient {
    position: relative;
    width: 100%;
    overflow: hidden;

    &::after {
        z-index: 100;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 1000px;
        background: linear-gradient(
            to left,
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
        );
        pointer-events: none;
    }
}
