.btn {
    background-color: var(--accent-color);
    color: var(--background-color);
    font-size: 35px;
    padding: 18px 40px;
    border-radius: 43px;
    border: 0;
    transform: rotate(-2deg);
}
