@import '../../Game.module';
@import '@/variables.scss';
.description {
    @include flex-column;
    gap: 35px;
    padding: 15px 10px ;
    background-color: var(--background-detailed);
    border-radius: 15px;
    @media (min-width: 800px) {
        margin-bottom: 100px;
        padding: 15px 10px ;
        border-radius: 42px;
        padding: 40px;
    }


    &__grid {
        @include flex-column;
        gap: 40px;
        @media (min-width: 1200px) {
            display: grid;
            grid-template-columns: 1.2fr 1fr;
        }
    }

    &__column {
        @include flex-column;
        gap: 40px;
    }

    &__text {
        @include flex-column;
        background-color: var(--background-secondary);
        padding: 12px;
        @include adaptiv-font(24,16);
        border-radius: 30px;
        gap: 7px;
        line-height: 34.68px;
        @media (min-width: 1200px) {
            padding: 30px;
        }
    }

    &__title {
        @include adaptiv-font(68,30);
        font-weight: 500;
        &--secondary {
            @include adaptiv-font(38,20);
            font-weight: 500;
        }
    }

    &__pic1 {
        margin-left: 0 !important;
        max-height: 280px;
    }

    &__pic2 {
        max-height: 220px;
    }

    &__list {
        color: var(--text-detailed);
    }
}
